<section>
  <h1>Hakkında</h1>
  <p>
      Bu site, versiyon kontrol sistemi <strong>git</strong> ile ilgili 
      Türkçe kaynak sağlamak amacıyla, <a href="http://git-scm.com/book" title="ProGit" target="_blank">Pro Git</a> 
      kitabı’nın yazarı <a href="http://twitter.com/chacon" title="Scott Chacon" target="_blank">Scott “Draper” Chacon</a>‘un 
      <a href="http://git-tips.heroku.com" title="Git Tips" target="_blank">Git Tips</a> 
      adlı sitesinden esinlenerek hazırlanmıştır. <a href="/hakkinda/">Detaylar</a>
  </p>
</section>
