// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// 26 Aralık 2011, Pazartesi , 13:48
//
// Büyük harf, Türkçe harfleri bozuyor
// Pazartesi => PAZARTESI olduğu için
// bu özelliği iptal ettim.
//
article > header > p.meta {
    text-transform: none;
}

#send_to_instapaper {
    background-color: #eee;
    color: #444;
    display: inline-block;
    font: bold normal normal 11px/11px 'Lucida Grande',Helvetica,Arial,sans-serif;
    border: 1px solid #aaa;
    @include border-radius(8px);
    padding: 2px 7px;
    text-decoration: none;
    vertical-align: 6px;
    margin: 0 5px 0 0;
}